
#top
{
	font-size: 1.5rem;
	color:  #C7D3D4FF;
	padding-left: 120px;
}
/*#one
{
	font-size: 1.4em;
	margin-top: 10px;
	line-height: 1.5;
	color: #603F83FF;
	font-style: italic;
}*/	

/* navigation bar */

header
{
	margin-top: 10px;
	padding:  0 0 2rem;
	background-color: #603F83FF;
	color: ;
}

.navbar-brand
{
	font-weight: bold;
	font-size: 2.5rem;
}
.nav-item
{
	padding: 0 18px;
	color: #fff;
}
#nav-link
{
	font-size: 1.2rem;
	font-family: "Montserrat-Light";
	color:  #C7D3D4FF;
}

/* specs */

#specs
{
	margin-top: 40px;
	margin-bottom: 60px;
}
#htwo1
{
	color: #603F83FF;
}
li
{
	padding-top: 20px;
	font-style: italic;
	color:  #C7D3D4FF;
	line-height: 1.8;
}
table
{
	margin-top: 30px;
	margin-bottom: 30px;
	border: 2px solid black;
	border-collapse: collapse;

}
tr,td
{
	padding: 10px;
	text-align: center;
	border-collapse: collapse;
	font-style: bold;
}
.row
{
	padding-top: 30px;
	margin-top: 40px;
}
#hthree
{
	color:   #603F83FF;
}
}
#td1
{
	color:  #C7D3D4FF;
}
#td2
{
	color:   #603F83FF;
	font-style: italic;
}
.center
{
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 300px;
  margin-bottom: 30px;
  margin-top: 60px;
  border-radius: 100%;
}
hr
{
	width: 50%;
}









