/*.container-fluid
{ 
	padding: 2% 15%;
}*/

#top
{
	font-size: 1.5rem;
	color:  #C7D3D4FF;
	padding-left: 120px;
}
#title
{
	background-color: #C7D3D4FF;
	padding-bottom: 30px;
	padding-top: 70px;
	color: #603F83FF;
}
#one
{
	font-size: 1.4em;
	margin-top: 10px;
	line-height: 1.5;
	color: #603F83FF;
	font-style: italic;
}	
img
{
	padding: 20px;
	margin-left: 30px;
	margin-top: 0px;

}

/* navigation bar */

header
{
	margin-top: 10px;
	padding:  0 0 2rem;
	background-color: #603F83FF;
	color: ;
}

.navbar-brand
{
	font-weight: bold;
	font-size: 2.5rem;
}
.nav-item
{
	padding: 0 18px;
	color: #fff;
}
#nav-link
{
	font-size: 1.2rem;
	font-family: "Montserrat-Light";
	color:  #C7D3D4FF;
}
#htwo
{
	text-align: center;
	margin-bottom: 30px;
}
#p
{
	font-size: 1.2rem;
	text-align: center;
	font-style: italic;
}
#i1
{
	padding-right:  20px;
}
.row
{
	padding-left: 60px;
	padding-right: 40px;
	line-height: 2.5;
	padding-top: 20px;
	padding-bottom: 40px;
	font-style: bold;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 400px;
  margin-bottom: 30px;
  margin-top: 40px;
  border-radius: 100%;
}











